/*css file for the theme */

html
{
    background: lightsteelblue;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Header Styles*/
h1,h2,h3
{
    margin: 4px 8px;
    font-family: Arial, helvetica, sans-serif ;
    color: darkslateblue;
}

/* Wrapper for the whole site */
#wrapper-site
{
    background: white;
    width: 90%;
    border: solid 7px gainsboro;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.9);
}
/* Header*/
#header
{
    background: lightblue;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    clear: left;
}

#inner
{
    background-color: lightblue ;
}

/* Left Sidebar*/
#sidebar-left
{
    font-family: Arial, helvetica, sans-serif;
    color: darkslateblue;
    width: 200px;
    float:left;
    background: lightblue;
    border-top: solid 1px azure;
}

/* Style for the Content Area */

#content-main
{
    padding-top: 0.2em;
    padding-left: 0.4em;
    margin-left: 201px;
    background: white;
    font-family: Tahoma, helvetica, sans-serif;
}

#content-main p
{
    margin-top: 1px;
    margin-bottom: 0;
}

/* Footer */
#footer
{
    font-family: Tahoma, helvetica, sans-serif;
    color: darkslateblue;
    padding: 15px;
    background: lightblue;
    text-align: center;
    border-top: 1px solid azure;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    clear: left;
}
